DB_USER=postgres
DB_PASSWORD=
DB_NAME=task_manager
DB_HOST=localhost
DB_PORT=5432
PORT=5000
CLIENT_ORIGIN=http://localhost:3000
NEXT_PUBLIC_API_URL=https://capable-reverence-production.up.railway.app
